@import "flowbite/src/themes/default";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
/* Removed invalid @source rule */

* {
  font-family: 'Book Antiqua', Courier, monospace;
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-[#fa8025] to-white; /* Tailwind classes */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.main-color{
  background: linear-gradient(to right, #2dd4bf, #1f2937);
}
